@"
N8N_BLOCK_ENV_ACCESS_IN_NODE=false
N8N_BLOCK_SVG_AND_HTML_IN_EXPRESSIONS=false
N8N_JS_CREDENTIALS_ACCESS_ENABLED=true
WEBHOOK_URL=https://sua-url-ngrok-ou-dominio.com

TIKTOK_CLIENT_KEY=coloque_seu_client_key
TIKTOK_CLIENT_SECRET=coloque_seu_client_secret
TIKTOK_REDIRECT_URI=https://sua-url-ngrok-ou-dominio.com/rest/oauth2-credential/callback
TIKTOK_SCOPE=user.info.basic,video.publish,video.upload

TIKTOK_ACCESS_TOKEN=coloque_seu_access_token
TIKTOK_REFRESH_TOKEN=coloque_seu_refresh_token
"@ | Out-File -Encoding utf8 .env.example